body{
  background-color: #c3edea;
  font-size: 1rem;
}
.img{
  background-color:#abf0e9;
}
.row-box{
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  margin: 10px;
  padding:5px;
  border-radius: 5px;
}
hr{
  display:none;
}
.row-box-filter{
  display:flex;
  background-color:white;
  margin: 10px;
  padding:5px;
  border-radius: 5px;

}
.row-box-filter-items{
  color:teal;
  font-weight: bold;
  background-color:#c3edea;
  margin:4px;
  padding:5px;
}
.row-item-one{
  margin-left:20px;
  display:flex;
  flex-direction: column;
  line-height: 0em;

}
.row-item-one h3{
  font-weight: bolder;
  color:teal;

}
.row-item-one p{
  color:grey;
}
.row-img{
  margin:auto 0 auto 10px;


}
.row-item-two{
  display:flex;
  align-items: center;
  margin-left:auto;
}
.row-item-two span{
  color:teal;
  font-weight: bold;
  background-color:#c3edea;
  margin:4px;
  padding:5px;
}
.row-item-one-new{
background-color: teal;
color:white;
margin:6px;
padding:4px 8px;
border-radius:44%;
text-transform: uppercase;
}
.row-item-one-featured{
  background-color: black;
  color:white;
  margin:6px;
  padding:5px 10px;
  border-radius:45%;
  text-transform: uppercase;
}
.row-add{
  border-left: 3px solid teal;
}
@media only screen and (max-width: 600px) {
  .row-box{
    margin-bottom:50px;
    margin-top:40px;
  }
  .row-img{
    margin-top:-40px;
    margin-bottom:-40px;
    
  }
  .row-item-one{
    display:flex;
    flex-wrap:wrap;
    
    margin-top: 40px;
    
  }
  .row-item-two{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    margin-top:10px;
    
  }
  hr{
    display:block;
  }
}